body{
    margin: 50px;
}
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
[type=number], select{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

[type=number] {
    margin-right: 20px;
}




button{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 170px;
    margin-right: 170px;
    display: flex;
    justify-content: center;
}


.button-cont{
    display: flex;
    justify-content: center;
}

table{
    width:100%;
    border-collapse: collapse;
    empty-cells: hide;
}
th{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

tr:hover {
    background-color: #ddd;
}
td{
    padding: 5px;
    text-align: center;
    height: 50px;
}
.Table{
    overflow-x: scroll;
}

div{
    margin: 40px;
}

.delete{
    width: 50%;
    background-color: #941212;
    color: white;
    padding: 8px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.delete:hover {
    background-color: #5b0d0d;
}

h2,h3{
    margin: 40px ; 
    text-align: center;
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.copyright{
    font-size: small;
   
}